* {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url(http://images.nintendolife.com/cfc6408cf3e7f/super-smash-bros-bultimate.original.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background {

}